<div class="row vertical-center-row">
    <div class="col-lg-12">
        <div class="row ">
            <div class="col-md-12 text-center" style="padding-top: 150px">
                <div class="row"><h1>A whole new way to improve your vocabulary</h1></div>
                <div class="row text-center">
                    <a md-ink-ripple="" href="/app" class="md-btn md-raised m-b btn-lg btn-fw bg-white" style="color: #000000">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>