
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div role="form">
          <div class="form-group">
            <label >Number of words per wordlist</label>
            <input type="number" class="form-control" ng-model="$storage.wordsPerPage">
          </div>

          <div class="form-group">
            <button md-ink-ripple="" ng-click="clearStorage()"  class="md-btn md-raised m-b btn-fw {{app.setting.theme.primary}}">Clear Local Storage</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
