<div class="row">
  <div class="m-b">
    <div class="col-md-2" ng-repeat="a in []| range:totalWordLists">
        <div class="panel panel-card text-center border-{{app.setting.theme.primary}}">
          <div class="p c-{{app.setting.theme.primary}}">
            <div class="text-center">
              <button md-ink-ripple="" ui-sref="app.wordlists.show({id:{{$index+1}}})"
                      class="md-btn md-raised btn-fw {{app.setting.theme.primary}}">Word List {{$index + 1}}</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
