<md-dialog >
  <md-content>
    <div>
      <div class="md-whiteframe-z0 bg-white border-{{colour}}">
        <br/>
        <div class="text-center">
          <button md-ink-ripple="" ui-sref="app.verbal.words.word({id:word.id})"
                  class="md-btn md-raised m-b btn-fw {{colour}}">{{word.name}}
          </button>
        </div>
        <ul class="nav nav-md nav-tabs nav-lines b-{{colour}}">
          <li class="active" ng-if="word.meanings.length>0">
            <a href="" data-toggle="tab" data-target="#meaning-{{word.id}}">Meaning</a>
          </li>
          <li ng-if="word.examples.length>0">
            <a href="" data-toggle="tab" data-target="#example-{{word.id}}">Example</a>
          </li>
          <li ng-if="word.mnemonics.length>0">
            <a href="" data-toggle="tab" data-target="#mnemonic-{{word.id}}">Mnemonic</a>
          </li>
        </ul>
        <div class="tab-content p b-t ">
          <div role="tabpanel" class="tab-pane animated fadeIn active" id="meaning-{{word.id}}">
            <div class="md-list  bg-white m-b ">

              <div class="md-list-item">
                <div class="md-list-item-content text-justify">
                  <p>{{word.meanings[0].content}}</p>
                </div>
              </div>


            </div>
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="example-{{word.id}}">
            <div class="md-list  bg-white m-b ">

              <div class="md-list-item">
                <div class="md-list-item-content text-justify">
                  <p>{{word.examples[0].content}}</p>
                </div>
              </div>


            </div>
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="mnemonic-{{word.id}}">
            <div>
              <div class="md-list  bg-white m-b }">
                <div class="md-list-item">
                  <div class="md-list-item-content">
                    <p>{{word.mnemonics[0].content}}</p>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </md-content>

  </div>

</md-dialog>
