<div class="box">
  <div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
    <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
    <div class="navbar-item pull-left h4" ng-bind="$state.current.data.title"></div>
    <ul class="nav navbar-tool pull-right" ng-hide="$state.current.data.child">
      <li>
        <a md-ink-ripple="" href="https://github.com/hardvain" target="_blank" data-toggle="modal" >
          <i class="fa fa-github i-24"></i>
        </a>
      </li>
      <li>
        <a md-ink-ripple="" href="https://www.facebook.com/aravindhs3389" target="_blank" >
          <i class="fa fa-facebook i-24"></i>
        </a>
      </li>
      <li>
        <a md-ink-ripple="" href="https://twitter.com/hardvain" target="_blank" >
          <i class="fa fa-twitter i-24"></i>
        </a>
      </li>
      <li class="dropdown" ng-show="pageOptions.length > 0">
        <a md-ink-ripple data-toggle="dropdown">
          <i class="mdi-navigation-more-vert i-24"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
          <li ng-repeat="option in pageOptions"><a ng-click="option.action">{{option.displayName}}</a></li>
        </ul>
      </li>
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
  </div>
  <div class="box-row">
    <div class="box-cell">
      <div class="box-inner padding" ui-view>
      </div>
    </div>
  </div>
</div>
