<div class="l-canvas type_wide col_cont headerlayout_extended headerpos_fixed">
  <!-- HEADER -->
  <div class="l-header">
    <div class="l-subheader at_middle" style="height: 80px">
      <div class="l-subheader-h i-widgets i-cf">
        <div class="w-logo  with_title">
          <a class="w-logo-link" href="/">
            <span class="w-logo-title"><strong>3 Works</strong></span>
          </a>
        </div>
        <!-- NAV -->
        <nav class="w-nav layout_hor animation_mdesign">
          <div class="w-nav-control">
            <i class="fa fa-list"></i>
          </div>
          <ul class="w-nav-list level_1">
            <li id="menu-item-4760" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4760">
              <a class="w-nav-anchor level_1" href="/"><span class="w-nav-title">Home</span></a>
            </li>
            <li id="menu-item-4760" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4760">
              <a class="w-nav-anchor level_1" href="/"><span class="w-nav-title">Features</span></a>
            </li>
            <li id="menu-item-4760" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4760">
              <a class="w-nav-anchor level_1" href="/"><span class="w-nav-title">Pricing</span></a>
            </li>
          </ul>
        </nav>
        <!-- /NAV -->


      </div>
    </div>

  </div>
  <!-- /HEADER -->

  <!-- MAIN -->
  <div class="l-main">
    <div class="l-submain wpb_row color_primary with_video" id="more">
      <div class="l-submain-video">

      </div>
      <div class="l-submain-overlay"></div>
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width animate_hfc animate_start">
            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h6 id="fancy-title-542546575cba7" class="mk-shortcode mk-fancy-title simple-style " style="text-align: center;"></h6>

              </div>
            </div>
            <div class="vc_custom_heading">
              <h2 style="font-size: 45px;color: #ffffff;line-height: 55px;text-align: center;font-family:Raleway;font-weight:200;font-style:normal">
                Improving your vocab becomes a child's play with us</h2></div>

            <span class="wpb_button align_center"><a href="app#/app/dashboard"
                                                     class="g-btn color_light type_raised size_big"><i
            class="fa fa-play"></i><span>Get Started</span></a></span>
            <div class="g-hr type_invisible size_huge no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>
            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain  full_width full_height" style="padding-top: 0px">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width">





            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>

            <div class="l-submain wpb_row">
              <div class="l-submain-h g-html i-cf">
                <div class="g-cols wpb_row offset_wide">
                  <div class="full-width">
                    <div class="g-cols wpb_row offset_wide">
                      <div class="one-third animate_afb animate_start">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-html5"></i></div>
                            <h4 class="w-iconbox-title">Web Design</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_maps_local_play"></i></div>
                            <h4 class="w-iconbox-title">Animation</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_action_wallet_giftcard"></i></div>
                            <h4 class="w-iconbox-title">Branding</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                      </div>
                      <div class="one-third animate_afb d1 animate_start">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_image_camera"></i></div>
                            <h4 class="w-iconbox-title">Photography</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_action_trending_up"></i></div>
                            <h4 class="w-iconbox-title">Analytics</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_hardware_phone_iphone"></i></div>
                            <h4 class="w-iconbox-title">Mobile</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                      </div>
                      <div class="one-third animate_afb d2 animate_start">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_action_verified_user"></i></div>
                            <h4 class="w-iconbox-title">Website Serving</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_action_polymer"></i></div>
                            <h4 class="w-iconbox-title">Coding</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                          <a class="w-iconbox-link" href="#">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="mdfi_social_people"></i></div>
                            <h4 class="w-iconbox-title">Marketing</h4></a>

                          <div class="w-iconbox-text">
                            <p>Suspendisse biben cursus luctus. Donec consequat malesuada felis at faucibus.
                              Nulla dapibus malesuada libero, iaculis elit mattis quis.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="g-hr size_big">
						<span class="g-hr-h">
							<i class="fa fa-plus"></i>
						</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="l-submain wpb_row color_primary with_video" id="more">
      <div class="l-submain-video">

      </div>
      <div class="l-submain-overlay"></div>
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width animate_hfc">
            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h6 id="fancy-title-542546575cba7" class="mk-shortcode mk-fancy-title simple-style " style="text-align: center;">WE
                  WORK HARD TO GIVE YOU</h6>

              </div>
            </div>
            <div class="vc_custom_heading">
              <h2 style="font-size: 45px;color: #ffffff;line-height: 55px;text-align: center;font-family:Raleway;font-weight:200;font-style:normal">A
                UNIQUE EXPERIENCE</h2></div>
            <div class="g-hr type_invisible size_huge no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>
            <div class="g-cols wpb_row offset_wide">
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-html5"></i></div><h4 class="w-iconbox-title">Modern Design</h4></span></div>
              </div>
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-thumbs-o-up"></i></div><h4 class="w-iconbox-title">High Quality</h4></span>
                </div>
              </div>
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-tablet"></i></div><h4 class="w-iconbox-title">Ultra Responsive</h4></span>
                </div>
              </div>
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-star-o"></i></div><h4 class="w-iconbox-title">Free Updates</h4></span></div>
              </div>
            </div>
            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-html5"></i>
						</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /MAIN -->

</div>
<!-- /CANVAS -->

<!-- FOOTER -->
<div class="l-footer">
  <!-- subfooter: top -->
  <div class="l-subfooter at_top">
    <div class="l-subfooter-h g-cols offset_default">
      <div class="one-third">
        <div id="text-2" class="widget widget_text"><h4>Text Widget</h4>

          <div class="textwidget">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci
              ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum
              volutpat quis. Suspendisse consectetur fringilla suctus.</p>
          </div>
        </div>
        <div id="text-5" class="widget widget_text"><h4>Get Social</h4>

          <div class="textwidget">
            <div class="w-socials">
              <div class="w-socials-list">
                <div class="w-socials-item facebook">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-facebook"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Facebook</span>
                  </div>
                </div>
                <div class="w-socials-item gplus">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-google-plus"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Google+</span>
                  </div>
                </div>
                <div class="w-socials-item vimeo">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-vimeo-square"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Vimeo</span>
                  </div>
                </div>
                <div class="w-socials-item instagram">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-instagram"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Instagram</span>
                  </div>
                </div>
                <div class="w-socials-item behance">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-behance"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Behance</span>
                  </div>
                </div>
                <div class="w-socials-item xing">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-xing"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Xing</span>
                  </div>
                </div>
                <div class="w-socials-item soundcloud">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-soundcloud"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>SoundCloud</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="one-third">
        <div id="recent-posts-3" class="widget widget_recent_entries"><h4>Recent Posts</h4>
          <ul>
            <li>
              <a href="../this-is-a-sticky-post/index.html">This is a Sticky Post</a>
              <span class="post-date">September 15, 2014</span>
            </li>
            <li>
              <a href="../this-post-looks-beautiful-even-with-long-interesting-title/index.html">This Post Looks
                Beautiful even with Long Interesting Title</a>
              <span class="post-date">September 12, 2014</span>
            </li>
            <li>
              <a href="../video-post/index.html">This is a Video Post</a>
              <span class="post-date">September 11, 2014</span>
            </li>
            <li>
              <a href="../satisfaction-lies-in-the-effort/index.html">Satisfaction Lies in the Effort</a>
              <span class="post-date">August 21, 2014</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="one-third">
        <div id="search-3" class="widget widget_search"><h4>Search Something</h4>

          <div class="w-search submit_inside">
            <form class="w-search-form" action="http://zephyr.us-themes.com/">
              <div class="w-search-input">
                <input type="text" value="" name="s" placeholder="search..."/>
                <i class="mdfi_action_search"></i>
                <span class="w-search-input-bar"></span>
              </div>
              <div class="w-search-submit">
                <input type="submit" value="Search"/>
              </div>
            </form>
          </div>
        </div>
        <div id="text-6" class="widget widget_text">
          <div class="textwidget">
            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_action_home"></i></div><h4 class="w-iconbox-title">Mountain View, CA 94043,
                          US</h4></span></div>

            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_content_mail"></i></div><h4 class="w-iconbox-title">
                          <a class="__cf_email__" href="../cdn-cgi/l/email-protection.html" data-cfemail="553c3b333a15302d34382539307b363a38">[email&#160;protected]</a>
                          <script cf-hash='f9e31' type="text/javascript">
                              /* <![CDATA[ */
                              !function () {
                                  try {
                                      var t = "currentScript"in document ? document.currentScript : function () {
                                          for (var t = document.getElementsByTagName("script"), e = t.length; e--;)if (t[e].getAttribute("cf-hash"))return t[e]
                                      }();
                                      if (t && t.previousSibling) {
                                          var e, r, n, i, c = t.previousSibling, a = c.getAttribute("data-cfemail");
                                          if (a) {
                                              for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2)i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i);
                                              e = document.createTextNode(e), c.parentNode.replaceChild(e, c)
                                          }
                                      }
                                  } catch (u) {
                                  }
                              }();
                              /* ]]> */</script>
                        </h4></span></div>

            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_communication_phone"></i></div><h4 class="w-iconbox-title">+321 123
                          4567</h4></span></div>

            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_action_print"></i></div><h4 class="w-iconbox-title">+321 123 4568</h4></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- subfooter: bottom -->
  <div class="l-subfooter at_bottom">
    <div class="l-subfooter-h i-cf">
      <!-- NAV -->
      <nav class="w-nav layout_hor">
        <ul class="w-nav-list level_1">
          <li id="menu-item-3693" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3693">
            <a class="w-nav-anchor level_1" href="../index.html"><span class="w-nav-title">Home</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-3615" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3615">
            <a class="w-nav-anchor level_1" href="../pages/about/index.html"><span class="w-nav-title">About</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-3616" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3616">
            <a class="w-nav-anchor level_1" href="../portfolio-3/index.html"><span class="w-nav-title">Portfolio</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-4384" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4384">
            <a class="w-nav-anchor level_1" href="../blog-masonry-grid/index.html"><span class="w-nav-title">Blog</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-3613" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3613">
            <a class="w-nav-anchor level_1" href="../pages/contact/index.html"><span class="w-nav-title">Contact</span><span class="w-nav-arrow"></span></a>
          </li>
        </ul>
      </nav>
      <!-- /NAV -->
      <div class="w-copyright">© 2014 All rights reserved. ZEPHYR theme by
        <a href="http://us-themes.com/">UpSolution</a></div>

    </div>
  </div>

</div>
<!-- /FOOTER -->
<a class="w-toplink" href="index.html#"><i class="mdfi_hardware_keyboard_arrow_up"></i></a>