<div class="l-canvas type_wide col_cont headerlayout_extended headerpos_fixed">
  <!-- HEADER -->
  <div class="l-header">
    <div class="l-subheader at_middle" style="height: 80px">
      <div class="l-subheader-h i-widgets i-cf">
        <div class="w-logo  with_title">
          <a class="w-logo-link" href="/">
            <span class="w-logo-title"><strong>3 Works</strong></span>
          </a>
        </div>
        <!-- NAV -->
        <nav class="w-nav layout_hor animation_mdesign">
          <div class="w-nav-control">
            <i class="fa fa-list"></i>
          </div>
          <ul class="w-nav-list level_1">
            <li id="menu-item-4760" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4760">
              <a class="w-nav-anchor level_1" href="/#home"><span class="w-nav-title">Home</span></a>
            </li>
            <li id="menu-item-4760" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4760">
              <a class="w-nav-anchor level_1" href="/#features"><span class="w-nav-title">Features</span></a>
            </li>

          </ul>
        </nav>
        <!-- /NAV -->
      </div>
    </div>
  </div>
  <!-- /HEADER -->
  <!-- MAIN -->
  <div class="l-main">
    <div class="l-submain wpb_row color_primary with_video" id="home">
      <div class="l-submain-video">
      </div>
      <div class="l-submain-overlay"></div>
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width animate_hfc animate_start">
            <div class="g-hr type_invisible size_big no_icon">
             <span class="g-hr-h">
                <i class="fa fa-html5"></i>
             </span>
            </div>
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">
                <h6 id="fancy-title-542546575cba7" class="mk-shortcode mk-fancy-title simple-style " style="text-align: center;"></h6>
              </div>
            </div>
            <div class="vc_custom_heading">
              <h2 style="font-size: 45px;color: #ffffff;line-height: 55px;text-align: center;font-family:Raleway;font-weight:200;font-style:normal">
                Improving your vocab becomes a child's play with us
              </h2>
            </div>
                  <span class="wpb_button align_center">
                  <a href="/app" target="_blank" class="g-btn color_white type_raised">
                    <i class="fa fa-play"></i>
                    <span>Get Started</span>
                  <span class="ripple-container">
                  <span class="ripple ripple-out" style="left: 79.84375px; top: 9px;"></span>
                  </span>
                  </a>
                  </span>
            <div class="g-hr type_invisible size_huge no_icon">
                     <span class="g-hr-h">
                     <i class="fa fa-html5"></i>
                     </span>
            </div>
            <div class="g-hr type_invisible size_big no_icon">
                     <span class="g-hr-h">
                     <i class="fa fa-html5"></i>
                     </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain  full_width full_height" id="features" style="padding-top: 0px">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width">

            <div class="g-hr type_invisible size_big no_icon">
                     <span class="g-hr-h">
                     <i class="fa fa-html5"></i>
                     </span>
            </div>
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h2 style="text-align: center;"><strong>Features</strong></h2>

              </div>
            </div>
            <div class="l-submain wpb_row">
              <div class="l-submain-h g-html i-cf">
                <div class="g-cols wpb_row offset_wide">
                  <div class="full-width">
                    <div class="g-cols wpb_row offset_wide">
                      <div class="one-third animate_afb animate_start">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-anchor"></i>
                            </div>
                            <h4 class="w-iconbox-title">Master Word List</h4>
                          <div class="w-iconbox-text">
                            <p>Contains close to 4700 words asked frequently in examinations with ample meanings, examples & definitions
                            </p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
                                       <span class="g-hr-h">
                                       <i class="fa fa-html5"></i>
                                       </span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-gears"></i>
                            </div>
                            <h4 class="w-iconbox-title">Highly Customizable</h4>
                          <div class="w-iconbox-text">
                            <p>Choose the number of words per word list according to your convenience. Choose to hide easy words
                              so that they dont distract you while reading
                            </p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
                           <span class="g-hr-h">
                            <i class="fa fa-html5"></i>
                           </span>
                        </div>

                      </div>
                      <div class="one-third animate_afb d1 animate_start">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-users"></i>
                            </div>
                            <h4 class="w-iconbox-title">Collaborate With Others</h4>
                          <div class="w-iconbox-text">
                            <p>Add your own definitions, examples & mnemonics and collaborate with other users
                            </p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
                           <span class="g-hr-h">
                            <i class="fa fa-html5"></i>
                           </span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-pencil"></i>
                            </div>
                            <h4 class="w-iconbox-title">Personalised Tests</h4>
                          <div class="w-iconbox-text">
                            <p>Our algorithm adopts to your previous tests and frames questions based on those so that
                              you get more questions from those you erred earlier
                            </p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
                           <span class="g-hr-h">
                             <i class="fa fa-html5"></i>
                           </span>
                        </div>

                      </div>
                      <div class="one-third animate_afb d2 animate_start">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-tablet"></i>
                            </div>
                            <h4 class="w-iconbox-title">Mobile Friendly</h4>
                          <div class="w-iconbox-text">
                            <p>Responsive layout adapts to your mobile / tablet resolutions and gives a beautiful experience in reading
                            </p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
                           <span class="g-hr-h">
                            <i class="fa fa-html5"></i>
                           </span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_custom">
                            <div class="w-iconbox-icon" style="background-color: #7e57c2;border-color: #7e57c2; color: #ffffff;">
                              <i class="fa fa-bar-chart"></i>
                            </div>
                            <h4 class="w-iconbox-title">Track Your Progress</h4>
                          <div class="w-iconbox-text">
                            <p>Extensive reports on your progress that helps you easily identify the words that you are yet to master
                            </p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible no_icon">
                           <span class="g-hr-h">
                            <i class="fa fa-html5"></i>
                           </span>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /MAIN -->
</div>
<!-- /CANVAS -->
<!-- FOOTER -->
<div class="l-footer">
  <!-- subfooter: top -->
  <!-- subfooter: bottom -->
  <div class="l-subfooter at_bottom">
    <div class="l-subfooter-h i-cf">
      <!-- NAV -->

      <!-- /NAV -->
      <div class="w-copyright">© 2015 All rights reserved by
        <a href="http://www.three.works">3 Works</a>
      </div>
    </div>
  </div>
</div>
<!-- /FOOTER -->
