<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @mnemonic.content %>
</p>

<%= link_to 'Edit',edit_api_word_mnemonic_path(@mnemonic) %> |
<%= link_to 'Back',api_word_mnemonics_path %>
