<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>3 Works</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic" rel="stylesheet"
        type="text/css">

  <%= stylesheet_link_tag 'app' %>
  <%= javascript_include_tag 'app' %>

  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
<%= yield %>

->
<script src="/app/scripts/app.js"></script>
<script src="/app/scripts/config.js"></script>
<script src="/app/scripts/config.lazyload.js"></script>
<script src="/app/scripts/config.router.js"></script>
<script src="/app/scripts/app.ctrl.js"></script>
<script src="/app/scripts/directives/lazyload.js"></script>
<script src="/app/scripts/directives/ui-jp.js"></script>
<script src="/app/scripts/directives/ui-nav.js"></script>
<script src="/app/scripts/directives/ui-fullscreen.js"></script>
<script src="/app/scripts/directives/ui-scroll.js"></script>
<script src="/app/scripts/directives/ui-toggle.js"></script>
<script src="/app/scripts/directives/ng-enter.js"></script>
<script src="/app/scripts/filters/fromnow.js"></script>
<script src="/app/scripts/services/ngstore.js"></script>
<script src="/app/scripts/services/ui-load.js"></script>

</body>
</html>

