<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>3 Works</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic" rel="stylesheet"
        type="text/css">
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/theme.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/color-defaults.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-beige-black.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-black-beige.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-black-white.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-black-yellow.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-blue-white.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-green-white.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-red-white.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-white-black.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-white-blue.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-white-green.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-white-red.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/swatch-yellow-black.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/fonts.min.css" media="screen">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
