<!DOCTYPE HTML>
<html class="" lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>3 Works</title>


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>

  <%= stylesheet_link_tag 'landing' %>
  <%= javascript_include_tag 'landing' %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/rss+xml" title="ZEPHYR - Material Design Theme &raquo; Feed" href="../feed/index.html"/>
  <link rel="alternate" type="application/rss+xml" title="ZEPHYR - Material Design Theme &raquo; Comments Feed" href="../comments/feed/index.html"/>
  <style id='rs-plugin-settings-inline-css' type='text/css'>
      .tp-caption a {
          color: #ff7302;
          text-shadow: none;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out
      }

      .tp-caption a:hover {
          color: #ffa902
      }

      .largeredbtn {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 16px;
          line-height: 60px;
          color: #fff !important;
          text-decoration: none;
          padding-left: 40px;
          padding-right: 80px;
          padding-top: 22px;
          padding-bottom: 22px;
          background: rgb(234, 91, 31);
          background: -moz-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 91, 31, 1)), color-stop(100%, rgba(227, 58, 12, 1)));
          background: -webkit-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -o-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -ms-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: linear-gradient(to bottom, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5b1f', endColorstr='#e33a0c', GradientType=0)
      }

      .largeredbtn:hover {
          background: rgb(227, 58, 12);
          background: -moz-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 58, 12, 1)), color-stop(100%, rgba(234, 91, 31, 1)));
          background: -webkit-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -o-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -ms-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: linear-gradient(to bottom, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33a0c', endColorstr='#ea5b1f', GradientType=0)
      }

      .fullrounded img {
          -webkit-border-radius: 400px;
          -moz-border-radius: 400px;
          border-radius: 400px
      }

      .tp-caption a {
          color: #ff7302;
          text-shadow: none;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out
      }

      .tp-caption a:hover {
          color: #ffa902
      }

      .largeredbtn {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 16px;
          line-height: 60px;
          color: #fff !important;
          text-decoration: none;
          padding-left: 40px;
          padding-right: 80px;
          padding-top: 22px;
          padding-bottom: 22px;
          background: rgb(234, 91, 31);
          background: -moz-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 91, 31, 1)), color-stop(100%, rgba(227, 58, 12, 1)));
          background: -webkit-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -o-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -ms-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: linear-gradient(to bottom, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5b1f', endColorstr='#e33a0c', GradientType=0)
      }

      .largeredbtn:hover {
          background: rgb(227, 58, 12);
          background: -moz-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 58, 12, 1)), color-stop(100%, rgba(234, 91, 31, 1)));
          background: -webkit-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -o-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -ms-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: linear-gradient(to bottom, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33a0c', endColorstr='#ea5b1f', GradientType=0)
      }

      .fullrounded img {
          -webkit-border-radius: 400px;
          -moz-border-radius: 400px;
          border-radius: 400px
      }

      .tp-caption a {
          color: #ff7302;
          text-shadow: none;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out
      }

      .tp-caption a:hover {
          color: #ffa902
      }

      .largeredbtn {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 16px;
          line-height: 60px;
          color: #fff !important;
          text-decoration: none;
          padding-left: 40px;
          padding-right: 80px;
          padding-top: 22px;
          padding-bottom: 22px;
          background: rgb(234, 91, 31);
          background: -moz-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 91, 31, 1)), color-stop(100%, rgba(227, 58, 12, 1)));
          background: -webkit-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -o-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -ms-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: linear-gradient(to bottom, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5b1f', endColorstr='#e33a0c', GradientType=0)
      }

      .largeredbtn:hover {
          background: rgb(227, 58, 12);
          background: -moz-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 58, 12, 1)), color-stop(100%, rgba(234, 91, 31, 1)));
          background: -webkit-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -o-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -ms-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: linear-gradient(to bottom, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33a0c', endColorstr='#ea5b1f', GradientType=0)
      }

      .fullrounded img {
          -webkit-border-radius: 400px;
          -moz-border-radius: 400px;
          border-radius: 400px
      }

      .tp-caption a {
          color: #ff7302;
          text-shadow: none;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out
      }

      .tp-caption a:hover {
          color: #ffa902
      }

      .largeredbtn {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 16px;
          line-height: 60px;
          color: #fff !important;
          text-decoration: none;
          padding-left: 40px;
          padding-right: 80px;
          padding-top: 22px;
          padding-bottom: 22px;
          background: rgb(234, 91, 31);
          background: -moz-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 91, 31, 1)), color-stop(100%, rgba(227, 58, 12, 1)));
          background: -webkit-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -o-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -ms-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: linear-gradient(to bottom, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5b1f', endColorstr='#e33a0c', GradientType=0)
      }

      .largeredbtn:hover {
          background: rgb(227, 58, 12);
          background: -moz-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 58, 12, 1)), color-stop(100%, rgba(234, 91, 31, 1)));
          background: -webkit-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -o-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -ms-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: linear-gradient(to bottom, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33a0c', endColorstr='#ea5b1f', GradientType=0)
      }

      .fullrounded img {
          -webkit-border-radius: 400px;
          -moz-border-radius: 400px;
          border-radius: 400px
      }

      .tp-caption a {
          color: #ff7302;
          text-shadow: none;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out
      }

      .tp-caption a:hover {
          color: #ffa902
      }

      .largeredbtn {
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 16px;
          line-height: 60px;
          color: #fff !important;
          text-decoration: none;
          padding-left: 40px;
          padding-right: 80px;
          padding-top: 22px;
          padding-bottom: 22px;
          background: rgb(234, 91, 31);
          background: -moz-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 91, 31, 1)), color-stop(100%, rgba(227, 58, 12, 1)));
          background: -webkit-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -o-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: -ms-linear-gradient(top, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          background: linear-gradient(to bottom, rgba(234, 91, 31, 1) 0%, rgba(227, 58, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5b1f', endColorstr='#e33a0c', GradientType=0)
      }

      .largeredbtn:hover {
          background: rgb(227, 58, 12);
          background: -moz-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 58, 12, 1)), color-stop(100%, rgba(234, 91, 31, 1)));
          background: -webkit-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -o-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: -ms-linear-gradient(top, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          background: linear-gradient(to bottom, rgba(227, 58, 12, 1) 0%, rgba(234, 91, 31, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33a0c', endColorstr='#ea5b1f', GradientType=0)
      }

      .fullrounded img {
          -webkit-border-radius: 400px;
          -moz-border-radius: 400px;
          border-radius: 400px
      }
  </style>
  <link rel='stylesheet' id='tp-libre-css' href='http://fonts.googleapis.com/css?family=Libre+Baskerville%3A400italic&ver=4.1.1' type='text/css' media='all'/>


  <meta name="generator" content="WordPress 4.1.1"/>
  <meta name="generator" content="WooCommerce 2.3.5"/>
  <link rel='canonical' href='index.html'/>
  <link rel='shortlink' href='index.html'/>
  <script type="text/javascript">
      jQuery(document).ready(function () {
          // CUSTOM AJAX CONTENT LOADING FUNCTION
          var ajaxRevslider = function (obj) {

              // obj.type : Post Type
              // obj.id : ID of Content to Load
              // obj.aspectratio : The Aspect Ratio of the Container / Media
              // obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

              var content = "";

              data = {};

              data.action = 'revslider_ajax_call_front';
              data.client_action = 'get_slider_html';
              data.token = '3160ebae27';
              data.type = obj.type;
              data.id = obj.id;
              data.aspectratio = obj.aspectratio;

              // SYNC AJAX REQUEST
              jQuery.ajax({
                  type: "post",
                  url: "http://zephyr.us-themes.com/wp-admin/admin-ajax.php",
                  dataType: 'json',
                  data: data,
                  async: false,
                  success: function (ret, textStatus, XMLHttpRequest) {
                      if (ret.success == true)
                          content = ret.data;
                  },
                  error: function (e) {
                      console.log(e);
                  }
              });

              // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
              return content;
          };

          // CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
          var ajaxRemoveRevslider = function (obj) {
              return jQuery(obj.selector + " .rev_slider").revkill();
          };

          // EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
          var extendessential = setInterval(function () {
              if (jQuery.fn.tpessential != undefined) {
                  clearInterval(extendessential);
                  if (typeof(jQuery.fn.tpessential.defaults) !== 'undefined') {
                      jQuery.fn.tpessential.defaults.ajaxTypes.push({
                          type: "revslider",
                          func: ajaxRevslider,
                          killfunc: ajaxRemoveRevslider,
                          openAnimationSpeed: 0.3
                      });
                      // type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
                      // func: the Function Name which is Called once the Item with the Post Type has been clicked
                      // killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
                      // openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
                  }
              }
          }, 30);
      });
  </script>
  <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
  <!--[if IE 8]>
  <link rel="stylesheet" type="text/css"
        href="http://zephyr.us-themes.com/wp-content/plugins/js_composer/assets/css/vc-ie8.css"
        media="screen"><![endif]-->
  <script type="text/javascript">jQuery(document).ready(function () {
      jQuery(".ult_modal-body iframe").each(function (index, element) {
          var st = '<style type="text/css" id="modal-css">';
          st += ".fluid-width-video-wrapper{padding: 0 !important;}";
          st += "</style>";
          jQuery("head").append(st);
      });
  });</script>
</head>
<body class="page page-id-9 page-template-default l-body us-theme_zephyr_1-4 woocommerce-type_2 wpb-js-composer js-comp-ver-4.4.2 vc_responsive" ontouchstart="">
<%= yield %>
<!-- CANVAS -->

<script type="text/javascript">
    window.mobileNavWidth = "1000";
    window.headerMainHeight = "100";
    window.headerMenuTogglable = 1;
    window.headerMainShrinkedHeight = "60";
    window.headerExtraHeight = "40";
    window.headerDisableStickyHeaderWidth = "300";
    window.headerDisableAnimationWidth = "1000";
    window.firstSubmainPadding = 140;
    window.ajaxURL = 'http://zephyr.us-themes.com/wp-admin/admin-ajax.php';
    window.nameFieldError = "Please enter your Name";
    window.emailFieldError = "Please enter your Email";
    window.phoneFieldError = "Please enter your Phone Number";
    window.captchaFieldError = "Please enter the equation result";
    window.messageFieldError = "Please enter a Message";
    window.messageFormSuccess = "Thank you! Your message was sent.";
</script>
<script>
    window.wp_template_dir_uri = "http://zephyr.us-themes.com/wp-content/plugins/us-switcher/Zephyr/";
    window.body_layout = "type_boxed";
    window.color_scheme = "color_0";
    window.disable_wc_lightbox = false;
</script>

<!--<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min-ver=2.60.js'></script>-->

<!--<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min-ver=2.3.5.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min-ver=1.4.1.js'></script>-->

<!--<script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min-ver=2.3.5.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/jquery.easing.min-ver=4.1.1.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/jquery.magnific-popup-ver=4.1.1.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/jquery.simpleplaceholder-ver=4.1.1.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/waypoints.min-ver=4.1.1.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/imagesloaded-ver=4.1.1.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/plugins-ver=1.4.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/us.widgets-ver=1.4.js'></script>-->
<!--<script type='text/javascript' src='../wp-includes/js/comment-reply.min-ver=4.1.1.js'></script>-->
<!--<script type='text/javascript' src='../wp-content/themes/Zephyr/js/mediaelement-and-player.min-ver=4.1.1.js'></script>-->
</body>
</html>
